body {
 background-image: url("https://img.freepik.com/premium-vector/background-with-pastel-neutral-color-with-simple-elegant-shape-ornament_189483-153.jpg?w=1380");
 font-family: 'Brush Script MT', cursive;
}

h3 {
  font-family: Copperplate, Papyrus, Fantasy;
  text-align: justify;
  letter-spacing: 5px;
}

h1 {
 text-transform: uppercase;
 color: cadetblue;
}

h2 {
 font-family: 'Courier New', monospace;
}
